<h1>Nearest Electric Fuel Station</h1>

<div id="station_info">
  <p><strong>Name:</strong> <%= @station_info[:name] %></p>
  <p><strong>Address:</strong> <%= @station_info[:address] %></p>
  <p><strong>Fuel Type:</strong> <%= @station_info[:fuel_type] %></p>
  <p><strong>Access Times:</strong> <%= @station_info[:access_times] %></p>
</div>

<p><strong>Distance:</strong> <%= @distance %> miles</p>
<p><strong>Travel Time:</strong> <%= @travel_time %></p>

<div id="directions">
  <h2>Directions</h2>
  <ol>
    <% @direction_instructions.each do |instruction| %>
      <li><%= instruction %></li>
    <% end %>
  </ol>
</div>